[user]
	name = Duncan Williams
	email = duncan.williams@supercarers.com
[push]
  default = current
[merge]
	tool = fugitive
[alias]
  u = add -u
  c = commit
  graph = log --graph --all --pretty=format:'%C(dim normal)%h%C(reset) %C(blue)%an%Creset %s %C(yellow)%cr %C(auto)%d%Creset' --abbrev-commit
[pull]
  default = simple
[core]
	excludesfile = ~/.gitignore_global
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiff\" \"$MERGED\"
[credential]
	helper = osxkeychain
[commit]
	verbose = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
